@charset "UTF-8";

h3{
	color:#2c6a3e;
	margin-left: 370px;
	font-size: 50px;
	font-style: italic;
	display: flex;
	margin-top:168px;
}

.randommeal { background-image: linear-gradient(to right, #134E5E 0%, #71B280  51%, #134E5E  100%)}
.randommeal {
			margin-top: 35px;
            margin-left: 420px;
            padding: 15px 40px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
	
	
}
          .randommeal:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }


.contact, .signup, .signin, .logout {
	color: black;
	padding: 10px;
	
}

body {
	background-image: url(/images/background-image1.png);
	background-size: cover;
}

.search {
	margin-top:10px;
	
}


