body {
	background-image: linear-gradient(to right, #67B26F 0%, #4ca2cd  51%, #67B26F  100%);
	display: flex;
}

h1 {
	font-size: 28px;
	margin-left:400px;
	font-style: italic;
	display: flex;
	
}

img {
	height:300px;
	width: 385px;
	margin-left:375px;
	
}

.meallink {
	color:#423c96;
	display: flex;
	margin-top: 5px;
	margin-bottom:25px;
	margin-left: 546px;
}

a {
	color: black;
}